<div class="intro">
    <span>Software</span>
    <span>Engineer</span>
    <span>Based in NYC</span>
</div>
<div class="copy">
    <div class="headshot"></div>
    <p>Hello there. My name is Taylor Baldwin, and I’m a software engineer at Torando Labs. Before joining the wild world of start ups, I worked in R&D at the New York Times. And before that, I was a pianist pursuing a doctorate in music. So there's that.</p>
    <p>These days I spend my free time dabbling in open-source and working on experimental projects - most of which can be found on my <a href="//github.com/rolyatmax">GitHub</a>.</p>
    <span class="email"><a href="mailto:taylorbaldwin@gmail.com">taylorbaldwin@gmail.com</a></span>
</div>
