<header>
    <div class="cube"></div>
    <ul>
        <li><a target="_blank" href="https://github.com/rolyatmax"><i class="fa fa-github"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/taylorbaldwin"><i class="fa fa-twitter"></i></a></li>
    </ul>
</header>

<div class="hero" style="background-image: url({{ backstretch }});">
    <div class="content">
        <img class="logo" src="img/logo-knockout.png">
        <div id="title">tbaldw.<span>in</span></div>
    </div>
</div>

<div class="cover"></div>
