<div class="container">
    <a href="#">
        <div class="logo">
            <div class="circle" style="background-image: url({{ backstretch }});"></div>
            <span>tb</span>
        </div>
    </a>
    <div class="pages">
        <a href="#about"><span>Info</span></a>
        <a href="#work"><span>Work</span></a>
    </div>
</div>
