<div class="container">
    <span class="route" data-route="">
        <div class="logo">
            <div class="circle" style="background-image: url({{ backstretch }});"></div>
            <span>tb</span>
        </div>
    </span>
    <div class="pages">
        <span class="route" data-route="about"><span>Info</span></span>
        <span class="route" data-route="work"><span>Work</span></span>
    </div>
</div>
