<a href="{{ url }}" target="_blank">
    <div class="project-row">
        <div class="info">
            <h2><span>{{ title }}</span></h2>
        </div>
        <div class="screenshot" style="background-image: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.15) 20%, rgba(0,0,0,0.45) 100%), url({{ image }});"></div>
    </div>
</a>
<div class="body">
    <div class="measure">
        {{ body }}
    </div>
</div>
