/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 18, ../sass/style.scss */
::selection {
  background-color: #ff7f66;
  color: #fff;
}

/* line 23, ../sass/style.scss */
.top_bar {
  width: 100%;
  height: 20px;
  background-color: #2185c5;
  position: absolute;
  top: -20px;
}
/* line 29, ../sass/style.scss */
.top_bar p {
  text-align: center;
  width: 400px;
  margin: auto auto;
  color: #fff;
  font-weight: 900;
  font-size: 300%;
  overflow: hidden;
  position: relative;
  top: -10px;
}

/* line 42, ../sass/style.scss */
.container {
  margin: auto auto;
  width: 400px;
}

/* line 47, ../sass/style.scss */
.container h6 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  position: relative;
  top: -32px;
  z-index: -1;
  color: white;
}

/* line 57, ../sass/style.scss */
body {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
}

/* line 63, ../sass/style.scss */
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white;
}

/*@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateX(90deg);
  }

  90% {
    -webkit-transform: rotateX(-4deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
  }
}*/
/* line 84, ../sass/style.scss */
.menu_button {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  border: none;
  cursor: pointer;
  position: relative;
  top: 12.5em;
  left: -17px;
}
/* line 91, ../sass/style.scss */
.menu_button .circle {
  width: 25px;
  height: 25px;
  background: #3e454c;
  -webkit-border-radius: 12.5px;
  -moz-border-radius: 12.5px;
  -ms-border-radius: 12.5px;
  -o-border-radius: 12.5px;
  border-radius: 12.5px;
  color: #fff;
  text-align: center;
  line-height: 25px;
}

/* line 102, ../sass/style.scss */
#menu {
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 205px;
  left: 50%;
  font-weight: 300;
  font-size: 350%;
  margin-left: -460px;
  letter-spacing: -0.05em;
}
/* line 112, ../sass/style.scss */
#menu li {
  cursor: pointer;
}
/* line 114, ../sass/style.scss */
#menu li:hover {
  color: #2185c5;
}
/* line 115, ../sass/style.scss */
#menu li a {
  text-decoration: none;
}
/* line 117, ../sass/style.scss */
#menu li a:hover {
  text-decoration: none;
  color: #2185c5;
}
/* line 120, ../sass/style.scss */
#menu li a:hover span {
  color: inherit;
  position: relative;
  left: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 129, ../sass/style.scss */
#menu span {
  text-decoration: none;
  position: relative;
  left: 0;
  color: inherit;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 139, ../sass/style.scss */
.logo {
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
  -moz-transform: rotate3d(1, 0, 0, 90deg);
  -ms-transform: rotate3d(1, 0, 0, 90deg);
  -o-transform: rotate3d(1, 0, 0, 90deg);
  transform: rotate3d(1, 0, 0, 90deg);
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  font-size: 14px;
}
/* line 149, ../sass/style.scss */
.logo .circle {
  width: 100%;
  height: 100%;
  background: #2185c5;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  /* Cleaner, but slightly less support: use "50%" as value */
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
  -moz-transform: rotate3d(1, 0, 0, 90deg);
  -ms-transform: rotate3d(1, 0, 0, 90deg);
  -o-transform: rotate3d(1, 0, 0, 90deg);
  transform: rotate3d(1, 0, 0, 90deg);
  /*  -webkit-transform-origin: 75% 50%;
  -webkit-animation: flip 800ms 800ms forwards;
  */
}
/* line 168, ../sass/style.scss */
.logo span {
  -webkit-transform: translateZ(1000px);
  -moz-transform: translateZ(1000px);
  -ms-transform: translateZ(1000px);
  -o-transform: translateZ(1000px);
  transform: translateZ(1000px);
  font-size: 667%;
  font-weight: 700;
  color: #fff;
  line-height: 100%;
  letter-spacing: -0.1em;
  position: absolute;
  top: 27%;
  left: 16%;
}

/* line 182, ../sass/style.scss */
#title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  font-weight: 100;
  color: #3e454c;
  display: inline-block;
  line-height: 100px;
  font-size: 450%;
  letter-spacing: -.1em;
  margin-left: 1.5%;
  position: relative;
  top: -20px;
}
/* line 193, ../sass/style.scss */
#title span {
  color: #2185c5;
}

/* line 198, ../sass/style.scss */
header {
  width: 300px;
  margin: 0 auto;
  height: 90px;
}

/* line 204, ../sass/style.scss */
#intro {
  width: 300px;
  margin: 40px auto;
  font-weight: 300;
}
/* line 208, ../sass/style.scss */
#intro div {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 211, ../sass/style.scss */
#intro .line1 {
  font-size: 571.428%;
  letter-spacing: -0.09em;
  line-height: 1em;
}
/* line 216, ../sass/style.scss */
#intro .line2 {
  font-size: 550%;
  letter-spacing: -0.07em;
  line-height: 0.7em;
}
/* line 221, ../sass/style.scss */
#intro .line3 {
  font-size: 428.571%;
  letter-spacing: -0.09em;
  line-height: 1.3em;
}
/* line 226, ../sass/style.scss */
#intro .line4 {
  font-size: 305%;
  letter-spacing: -0.08em;
  line-height: 0.6em;
}
/* line 230, ../sass/style.scss */
#intro .line4 span {
  line-height: 0.7em;
}
/* line 233, ../sass/style.scss */
#intro .line4 #clocks {
  cursor: pointer;
}

/* line 239, ../sass/style.scss */
#pages {
  margin-top: -20px;
}
/* line 242, ../sass/style.scss */
#pages .top_row {
  width: 100%;
  height: 100px;
}
/* line 247, ../sass/style.scss */
#pages .logo_container {
  float: left;
  width: 25%;
  height: 100%;
  position: relative;
}
/* line 254, ../sass/style.scss */
#pages .logo {
  width: 50px;
  height: 50px;
  font-size: 7px;
  position: absolute;
  top: 25%;
  left: 25%;
}
/* line 263, ../sass/style.scss */
#pages .nav {
  float: left;
  width: 75%;
  height: 100%;
  text-transform: uppercase;
  line-height: 100px;
  text-align: center;
  font-size: 1.14em;
}
/* line 271, ../sass/style.scss */
#pages .nav div {
  width: 33.33333%;
  height: 100%;
  float: left;
}
/* line 275, ../sass/style.scss */
#pages .nav div a:hover {
  text-decoration: none;
}
/* line 277, ../sass/style.scss */
#pages .nav div a:hover span {
  text-decoration: none;
}
/* line 279, ../sass/style.scss */
#pages .nav div span {
  padding: 5px 13px;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 286, ../sass/style.scss */
#pages .nav div.active.work span {
  background-color: #7ecefd;
}
/* line 287, ../sass/style.scss */
#pages .nav div.active.about span {
  background-color: #3e454c;
}
/* line 288, ../sass/style.scss */
#pages .nav div.active.blog span {
  background-color: #2185c5;
}
/* line 289, ../sass/style.scss */
#pages .nav div.active span {
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* line 298, ../sass/style.scss */
#about {
  overflow: hidden;
  *zoom: 1;
}
/* line 300, ../sass/style.scss */
#about .copy {
  text-align: justify;
  width: 75%;
  height: 400px;
  float: left;
  padding-left: 5%;
  font-size: 1.428em;
  font-weight: 300;
  line-height: 1.35em;
  letter-spacing: -0.05em;
}
/* line 310, ../sass/style.scss */
#about .copy p {
  margin-bottom: 1em;
  text-indent: 40%;
}
/* line 314, ../sass/style.scss */
#about .copy .email {
  display: block;
  width: 100%;
  text-align: right;
}
/* line 318, ../sass/style.scss */
#about .copy .email a {
  color: #3e454c;
}
/* line 323, ../sass/style.scss */
#about .sidebar {
  height: 400px;
  width: 25%;
  float: left;
}
/* line 328, ../sass/style.scss */
#about .lightblue {
  height: 25%;
  width: 100%;
  float: left;
}
/* line 332, ../sass/style.scss */
#about .lightblue div {
  height: 50%;
  width: 50%;
  margin: 25%;
  background-color: #7ecefd;
}
/* line 339, ../sass/style.scss */
#about .headshot {
  height: 25%;
  width: 100%;
  float: left;
  background: url("../img/headshot.jpg") 0 0 no-repeat;
}
/* line 345, ../sass/style.scss */
#about .darkblue {
  height: 25%;
  width: 100%;
  float: left;
}
/* line 349, ../sass/style.scss */
#about .darkblue div {
  height: 50%;
  width: 50%;
  margin: 25%;
  background-color: #2185c5;
}
/* line 356, ../sass/style.scss */
#about .gray {
  height: 25%;
  width: 100%;
  float: left;
}
/* line 360, ../sass/style.scss */
#about .gray div {
  height: 50%;
  width: 50%;
  margin: 25%;
  background-color: #3e454c;
}

/* line 369, ../sass/style.scss */
#work {
  width: 100%;
  display: table;
}
/* line 372, ../sass/style.scss */
#work .project_row {
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 376, ../sass/style.scss */
#work .project_row:hover {
  -webkit-transform: scale(1.03, 1.03);
  -moz-transform: scale(1.03, 1.03);
  -ms-transform: scale(1.03, 1.03);
  -o-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
}
/* line 380, ../sass/style.scss */
#work .project {
  width: 100%;
  font-size: 1em;
  margin-bottom: 1em;
}
/* line 384, ../sass/style.scss */
#work .project.style1 .info {
  padding: 5% 0 5% 5%;
}
/* line 385, ../sass/style.scss */
#work .project.style2 .info {
  padding: 5% 5% 5% 0;
}
/* line 388, ../sass/style.scss */
#work .info {
  width: 50%;
  height: 200px;
  display: table-cell;
  vertical-align: middle;
}
/* line 393, ../sass/style.scss */
#work .info h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}
/* line 399, ../sass/style.scss */
#work .info p {
  line-height: 1.3em;
}
/* line 403, ../sass/style.scss */
#work .screenshot {
  display: table-cell;
  width: 200px;
}
/* line 406, ../sass/style.scss */
#work .screenshot img {
  max-width: 100%;
  width: 100%;
}
/* line 411, ../sass/style.scss */
#work .body {
  height: 0;
  overflow: hidden;
}
/* line 414, ../sass/style.scss */
#work .body p {
  margin: 0.5em 0;
  line-height: 1.5em;
  font-size: 1.2em;
}
/* line 422, ../sass/style.scss */
#work .project.active .body {
  height: 400px;
}

/* apply a natural box layout model to all elements */
/* line 430, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 436, ../sass/style.scss */
body * {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #3e454c;
}

/* line 443, ../sass/style.scss */
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* line 449, ../sass/style.scss */
#pages a {
  color: #2185c5;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 456, ../sass/style.scss */
#pages a:hover {
  color: #7ecefd;
  text-decoration: underline;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 463, ../sass/style.scss */
#pages a:active {
  color: #ff7f66;
}
