<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>tbaldw.in</title>
        <meta name="description" content="tbaldwin.net">
        <meta name="viewport" content="width=700">

        <link href="favicon.ico" rel="icon" type="image/x-icon" />

        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
        
        <!-- build:css css/style.css -->
        <link rel="stylesheet" href="css/style.css">
        <!-- endbuild -->

        <!-- build:js js/vendor/modernizr.js -->
        <script src="js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
        <!-- endbuild -->

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div class="top_bar">
            <p>////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////</p>
        </div>

        <div class="container">
            <div id="app"></div>
            <hr>
            <h6>type "vertigo"</h6>
        </div>

        <script id="i_like_things" type="text/template">
            JavaScript,<span id="clocks">Clocks</span>,Aeropress,Node.js,Pianos,WebGL,Easter Eggs,Canvas,SASS,WebAudio,Bacon,Data Viz,CoffeeScript
        </script>

        <script id="home_template" type="text/template">

            <!-- //////////////
                     HOME 
                 ////////////// -->
            <section id="home">
                <header>
                    <div class="logo">
                        <div class="circle">
                        </div>
                        <span>tb</span>
                    </div>
                    <div id="title">
                        tbaldw.<span>in</span>
                    </div>
                </header>

                <div class="menu_button"><div class="circle">&lsaquo;&lsaquo;</div></div>

                <section id="menu">

                    <ul>
                        <li>// <a href="#work"><span>Work</span></a></li>
                        <li>// <a href="#about"><span>About</span></a></li>
                        <li>// <a href="blog"><span>Blog</span></a></li>
                    </ul>

                </section>

                <section id="intro">
                    <div class="line1">Front-End</div>
                    <div class="line2">Developer</div>
                    <div class="line3">based in NYC</div>
                    <div class="line4">&amp; I like <span id="thing"></span></div>
                </section>
            </section>

        </script>

        <script id="pages_template" type="text/template">

            <section id="pages">
                <div class="top_row">
                    <div class="logo_container">
                        <a href="#">
                            <div class="logo">
                                <div class="circle">
                                </div>
                                <span>tb</span>
                            </div>
                        </a>
                    </div>
                    <div class="nav">
                        <div class="work"><a href="#work"><span>Work</span></a></div>
                        <div class="about"><a href="#about"><span>About</span></a></div>
                        <div class="blog"><a href="blog"><span>Blog</span></a></div>
                    </div>
                </div>

                <div class="page"></div>

            </section>

        </script>

        <script id="about_template" type="text/template">

            <!-- //////////////
                     ABOUT 
                 ////////////// -->
            <section id="about">
                <div class="sidebar">
                    <div class="lightblue"><div></div></div>
                    <div class="headshot"></div>
                    <div class="darkblue"><div></div></div>
                    <div class="gray"><div></div></div>
                </div>
                <div class="copy">
                    <p>Hello there. My name is Taylor Baldwin. I’m a front-end developer at Ralph & Co. in New York City. I moved here several years ago to pursue a doctorate in music. Two years into it, I had a change of heart.</p>
                    <p>These days I spend my free time dabbling in open-source and working on experimental projects - most of which can be found on my <a href="//github.com/rolyatmax">GitHub</a>.</p>
                    <span class="email"><a href="mailto:taylorbaldwin@gmail.com">taylorbaldwin@gmail.com</a></span>
                </div>
            </section>

        </script>

        <script id="work_template" type="text/template">

            <!-- //////////////
                     WORK 
                 ////////////// -->
            <section id="work">

            </section>

        </script>

        <script id="project_template" type="text/template">
            <div class="project_row">
                <% if (style === "style1") { %>
                    <div class="screenshot">
                        <img src="<%= image %>">
                    </div>
                <% } %>
                <div class="info">
                    <h2><%= title %></h2>
                </div>
                <% if (style === "style2") { %>
                    <div class="screenshot">
                        <img src="<%= image %>">
                    </div>
                <% } %>
            </div>
            <div class="body">
                <div class="measure">
                    <%= body %>
                </div>
            </div>

        </script>

        <!-- build:js scripts/libs.js -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript">
            window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')
        </script>
        <script src="js/vendor/jquery.easing.js"></script>
        <script src="js/vendor/jquery-transit.js"></script>
        <script src="js/vendor/underscore.js"></script>
        <script src="js/vendor/backbone.js"></script>
        <script src="js/vendor/Markdown.Converter.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->

        <!-- MODELS & COLLECTIONS -->
        <script src="js/models/project.js"></script>
        <script src="js/collections/projects.js"></script>

        <!-- VIEWS -->
        <script src="js/views/AboutView.js"></script>
        <script src="js/views/AppView.js"></script>
        <script src="js/views/HomeView.js"></script>
        <script src="js/views/PagesView.js"></script>
        <script src="js/views/WorkView.js"></script>
        <script src="js/views/ProjectView.js"></script>

        <script src="js/animate.js"></script>
        <script src="js/app.js"></script>

        <!-- endbuild -->

    </body>
</html>
