/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: LondonBetween;
  src: url(../fonts/LondonBetween.ttf);
}

@font-face {
  font-family: LondonMM;
  src: url(../fonts/LondonMM.ttf);
}

@font-face {
  font-family: LondonTwo;
  src: url(../fonts/LondonTwo.ttf);
}

/* line 24, ../sass/style.scss */
::selection {
  background-color: #27565b;
  color: #fff;
}

/* apply a natural box layout model to all elements */
/* line 30, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 36, ../sass/style.scss */
body * {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 41, ../sass/style.scss */
html {
  height: 100%;
}

/* line 45, ../sass/style.scss */
body {
  font-family: "LondonMM", sans-serif;
  font-size: 18px;
  color: #333333;
  height: 100%;
}

/* line 52, ../sass/style.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 57, ../sass/style.scss */
#container {
  width: 100%;
  height: 100%;
}

/* line 62, ../sass/style.scss */
#app {
  height: 100%;
}

@-webkit-keyframes spinningH {
  /* line 67, ../sass/style.scss */
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }

  /* line 68, ../sass/style.scss */
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}

/* line 80, ../sass/style.scss */
.loader {
  opacity: 1;
  -webkit-transition: opacity 300ms linear;
  -webkit-perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
  max-width: 640px;
  margin: auto;
}
/* line 94, ../sass/style.scss */
.loader.hide {
  opacity: 0;
}
/* line 98, ../sass/style.scss */
.loader .animate {
  -webkit-animation: spinningH 3s infinite linear;
}
/* line 102, ../sass/style.scss */
.loader .progress {
  width: 36%;
  height: 3px;
  position: relative;
  background-color: rgba(39, 86, 91, 0.1);
  margin: 60px 0 0 32%;
}
/* line 108, ../sass/style.scss */
.loader .progress span {
  position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  height: 100%;
  background-color: rgba(39, 86, 91, 0.7);
  -webkit-transition: width 100ms ease;
}
/* line 119, ../sass/style.scss */
.loader #cube {
  position: relative;
  margin: 220px auto 0;
  height: 30px;
  width: 30px;
  -webkit-transition: -webkit-transform 2s linear;
  -webkit-transform-style: preserve-3d;
}
/* line 129, ../sass/style.scss */
.loader #cube div {
  position: absolute;
  height: 30px;
  width: 30px;
  opacity: 1;
  -webkit-transition: border 5s linear;
}
/* line 136, ../sass/style.scss */
.loader #cube div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  -webkit-transition: opacity 5s linear;
}
/* line 147, ../sass/style.scss */
.loader #cube div:nth-child(1) {
  -webkit-transform: translateZ(15px);
}
/* line 72, ../sass/style.scss */
.loader #cube div:nth-child(1):after {
  background-color: #27565b;
}
/* line 152, ../sass/style.scss */
.loader #cube div:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(15px);
}
/* line 72, ../sass/style.scss */
.loader #cube div:nth-child(2):after {
  background-color: #5a898c;
}
/* line 157, ../sass/style.scss */
.loader #cube div:nth-child(3) {
  -webkit-transform: rotateY(180deg) translateZ(15px);
}
/* line 72, ../sass/style.scss */
.loader #cube div:nth-child(3):after {
  background-color: #867e59;
}
/* line 162, ../sass/style.scss */
.loader #cube div:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(15px);
}
/* line 72, ../sass/style.scss */
.loader #cube div:nth-child(4):after {
  background-color: #daa276;
}
/* line 167, ../sass/style.scss */
.loader #cube div:nth-child(5) {
  -webkit-transform: rotateX(-90deg) translateZ(15px) rotate(180deg);
}
/* line 72, ../sass/style.scss */
.loader #cube div:nth-child(5):after {
  background-color: #a45632;
}
/* line 172, ../sass/style.scss */
.loader #cube div:nth-child(6) {
  -webkit-transform: rotateX(90deg) translateZ(15px);
}
/* line 72, ../sass/style.scss */
.loader #cube div:nth-child(6):after {
  background-color: #dbb060;
}

@-webkit-keyframes slideDown {
  /* line 183, ../sass/style.scss */
  0% {
    -webkit-transform: translateY(-50px);
    opacity: 0;
  }

  /* line 184, ../sass/style.scss */
  50% {
    -webkit-transform: translateY(4px);
    opacity: 0.9;
  }

  /* line 185, ../sass/style.scss */
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

/* line 188, ../sass/style.scss */
.home {
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 193, ../sass/style.scss */
.home header {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  opacity: 0;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  -webkit-transform: translateY(-50px);
}
/* line 204, ../sass/style.scss */
.home header:before {
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  top: -15px;
  left: 0;
  background-color: transparent;
}
/* line 213, ../sass/style.scss */
.home header ul {
  padding-right: 10px;
  max-width: 640px;
  margin: auto;
  opacity: 0;
  -webkit-transition: opacity 700ms 3.6s linear;
}
/* line 220, ../sass/style.scss */
.home header li {
  float: right;
  padding: 14px 8px;
  color: white;
  font-size: 25px;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 200ms linear;
  opacity: 1;
}
/* line 231, ../sass/style.scss */
.home .hero {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: opacity 800ms linear;
}
/* line 243, ../sass/style.scss */
.home .hero img.logo {
  width: 64px;
  pointer-events: none;
  position: absolute;
  opacity: 0.98;
  border-radius: 50%;
  -webkit-transform: rotateX(-90deg) rotateY(-48deg) rotateZ(11deg);
  -webkit-transform-origin: 50% 60%;
  -webkit-transition: -webkit-transform 1.5s 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 253, ../sass/style.scss */
.home .hero .content {
  position: relative;
  width: 222px;
  margin: 200px auto;
  height: 64px;
}
/* line 261, ../sass/style.scss */
.home #title {
  opacity: 0;
  font-weight: 200;
  color: white;
  font-size: 35px;
  top: 19px;
  left: 85px;
  position: absolute;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(15px);
  -webkit-transition: opacity 1.8s 1.6s linear, -webkit-transform 2.5s 1.2s cubic-bezier(0.18, 0.82, 0.23, 0.97);
}
/* line 276, ../sass/style.scss */
.home.show header {
  -webkit-animation: slideDown 1s 2.5s forwards;
}
/* line 278, ../sass/style.scss */
.home.show header ul {
  opacity: 1;
}
/* line 282, ../sass/style.scss */
.home.show .hero {
  opacity: 1;
}
/* line 285, ../sass/style.scss */
.home.show img.logo {
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
}
/* line 288, ../sass/style.scss */
.home.show #title {
  opacity: 0.98;
  -webkit-transform: translateX(0);
}
/* line 292, ../sass/style.scss */
.home.show .cover {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transform: translateY(100%);
}
/* line 304, ../sass/style.scss */
.home.animate-out .hero {
  -webkit-transition: all 400ms cubic-bezier(0.73, 0.13, 0.66, 0.98), opacity 1500ms 150ms linear;
  -webkit-transform: translateY(-100px);
  opacity: 0;
}
/* line 309, ../sass/style.scss */
.home.animate-out img.logo {
  opacity: 0;
  -webkit-transition: opacity 400ms linear;
}
/* line 313, ../sass/style.scss */
.home.animate-out #title {
  opacity: 0;
  -webkit-transition: opacity 400ms linear;
}
/* line 317, ../sass/style.scss */
.home.animate-out header {
  top: -200px;
  -webkit-transition: top 400ms 100ms cubic-bezier(0.73, 0.13, 0.66, 0.98);
}
/* line 321, ../sass/style.scss */
.home.animate-out .cover {
  -webkit-transform: translateY(0);
  -webkit-transition: all 350ms 50ms cubic-bezier(0.73, 0.13, 0.66, 0.98);
}

@-webkit-keyframes slideUpSmallNav {
  /* line 333, ../sass/style.scss */
  0% {
    -webkit-transform: translateY(60px);
    opacity: 0;
  }

  /* line 334, ../sass/style.scss */
  50% {
    -webkit-transform: translateY(-4px);
    opacity: 0.9;
  }

  /* line 335, ../sass/style.scss */
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

/* line 338, ../sass/style.scss */
nav {
  height: 60px;
  width: 100%;
  background: rgba(255, 255, 255, 0.98);
  position: absolute;
  text-align: center;
  z-index: 1;
  padding: 13px;
  bottom: 20%;
  border-bottom: none;
  overflow: hidden;
  color: white;
  background: transparent;
  text-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
}
/* line 358, ../sass/style.scss */
nav.show .pages {
  -webkit-transition: opacity 800ms 4s linear;
  opacity: 1;
}
/* line 364, ../sass/style.scss */
nav.top {
  top: 0;
  position: fixed;
  z-index: 10;
  height: 82px;
  background: white;
  opacity: 0;
}
/* line 371, ../sass/style.scss */
nav.top.show {
  -webkit-transition: opacity 200ms linear;
  opacity: 1;
}
/* line 375, ../sass/style.scss */
nav.top .pages {
  width: 78%;
  position: absolute;
  right: 0;
  font-size: 15px;
  top: 15px;
  color: #333;
  opacity: 1;
}
/* line 384, ../sass/style.scss */
nav.top .pages a:nth-child(1) {
  border-right: 1px dashed rgba(61, 61, 61, 0.3);
}
/* line 390, ../sass/style.scss */
nav.top .logo.show .circle {
  -webkit-transition: -webkit-transform 1.5s 400ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
/* line 394, ../sass/style.scss */
nav.top .logo.show span {
  -webkit-transition: opacity 100ms 400ms linear;
  opacity: 1;
}
/* line 401, ../sass/style.scss */
nav .container {
  max-width: 640px;
  position: relative;
  margin: auto;
}
/* line 407, ../sass/style.scss */
nav .pages {
  max-width: 640px;
  margin: auto;
  opacity: 0;
}
/* line 411, ../sass/style.scss */
nav .pages a {
  padding: 10px 0;
  width: 48%;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  opacity: 1;
  -webkit-transition: opacity 200ms linear;
}
/* line 419, ../sass/style.scss */
nav .pages a:nth-child(1) {
  border-right: 1px dashed rgba(211, 211, 211, 0.3);
}
/* line 424, ../sass/style.scss */
nav .logo {
  position: absolute;
  width: 36px;
  height: 36px;
  font-size: 13px;
  left: 10px;
  top: 12px;
}
/* line 431, ../sass/style.scss */
nav .logo .circle {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  position: relative;
  -webkit-transform: rotateX(90deg) rotateY(45deg) rotateZ(18deg);
  -webkit-transform-origin: 40% 40%;
}
/* line 442, ../sass/style.scss */
nav .logo span {
  font-family: "LondonBetween";
  -webkit-transform: translateZ(1000px);
  font-size: 278%;
  font-weight: 700;
  color: #fff;
  line-height: 100%;
  letter-spacing: -0.1em;
  position: absolute;
  top: 34%;
  left: 18%;
  opacity: 0;
  text-shadow: none;
}

/* line 462, ../sass/style.scss */
.about {
  padding: 70px 15px 15px;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -webkit-transition: -webkit-transform 800ms cubic-bezier(0.18, 0.82, 0.23, 0.97), opacity 400ms 100ms linear;
}
/* line 467, ../sass/style.scss */
.about .copy {
  line-height: 1.5em;
  text-align: justify;
  font-size: 20px;
  max-width: 640px;
  margin: auto;
}
/* line 474, ../sass/style.scss */
.about p {
  margin: 1em 0;
}
/* line 477, ../sass/style.scss */
.about .headshot {
  height: 100px;
  width: 100px;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  background: url("../img/headshot.jpg") 0 0 no-repeat;
  margin: 5px 25px 25px 10px;
}
/* line 487, ../sass/style.scss */
.about.show {
  opacity: 1;
  -webkit-transform: translateY(0);
}
/* line 490, ../sass/style.scss */
.about.show.animate-out {
  opacity: 0;
  -webkit-transform: translateY(-50px);
  -webkit-transition: -webkit-transform 350ms cubic-bezier(0.73, 0.13, 0.66, 0.98), opacity 200ms linear;
}

/* line 498, ../sass/style.scss */
.intro {
  margin: 40px 0;
}
/* line 500, ../sass/style.scss */
.intro span {
  display: block;
  width: 100%;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
/* line 506, ../sass/style.scss */
.intro span:nth-child(1) {
  font-size: 50px;
}
/* line 509, ../sass/style.scss */
.intro span:nth-child(2) {
  font-size: 57px;
}
/* line 512, ../sass/style.scss */
.intro span:nth-child(3) {
  font-size: 38px;
}

/* line 521, ../sass/style.scss */
.work {
  padding-top: 90px;
  max-width: 640px;
  margin: auto;
}
/* line 528, ../sass/style.scss */
.work .project {
  position: relative;
  width: 310px;
  height: 180px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  margin: 5px auto;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.18, 0.82, 0.23, 0.97), opacity 400ms linear;
}
/* line 539, ../sass/style.scss */
.work .project.show {
  opacity: 1;
  -webkit-transform: translateY(0);
}
/* line 542, ../sass/style.scss */
.work .project.show.animate-out {
  opacity: 0;
  -webkit-transform: translateY(-50px);
  -webkit-transition: -webkit-transform 350ms cubic-bezier(0.73, 0.13, 0.66, 0.98), opacity 200ms linear;
}
/* line 549, ../sass/style.scss */
.work .project-row {
  width: 100%;
  height: 100%;
  font-family: "LondonBetween", sans-serif;
}
/* line 553, ../sass/style.scss */
.work .project-row:after {
  content: "";
  width: 304px;
  height: 173px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 2px;
  left: 2px;
}
/* line 565, ../sass/style.scss */
.work .screenshot {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 89%;
}
/* line 571, ../sass/style.scss */
.work .info {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 68px;
  left: 0;
  z-index: 1;
}
/* line 578, ../sass/style.scss */
.work .info h2 {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 3px solid white;
  padding: 10px 15px;
  font-size: 24px;
}
/* line 588, ../sass/style.scss */
.work .info h2 span {
  position: relative;
  top: 2px;
}
/* line 594, ../sass/style.scss */
.work .body {
  display: none;
}
/* line 597, ../sass/style.scss */
.work.animate-out {
  opacity: 0;
  -webkit-transition: opacity 250ms 200ms linear;
}

@media (min-width: 641px) {
  /* line 604, ../sass/style.scss */
  nav {
    height: 90px;
    font-size: 35px;
    padding: 20px;
    bottom: 10%;
  }
  /* line 610, ../sass/style.scss */
  nav .pages a {
    opacity: 0.8;
  }
  /* line 612, ../sass/style.scss */
  nav .pages a:hover {
    opacity: 1;
  }

  /* line 618, ../sass/style.scss */
  .home header li {
    opacity: 0.82;
  }
  /* line 620, ../sass/style.scss */
  .home header li:hover {
    opacity: 1;
  }
  /* line 624, ../sass/style.scss */
  .home .hero .content {
    width: 310px;
    height: 100px;
  }
  /* line 627, ../sass/style.scss */
  .home .hero .content img.logo {
    width: 100px;
  }
  /* line 630, ../sass/style.scss */
  .home .hero .content #title {
    font-size: 50px;
    top: 30px;
    left: 125px;
  }

  /* line 638, ../sass/style.scss */
  .about .intro {
    display: none;
  }
  /* line 641, ../sass/style.scss */
  .about .copy {
    margin-top: 50px;
  }

  /* line 645, ../sass/style.scss */
  .work .project {
    float: left;
    margin: 5px;
  }
}
